image: Visual Studio 2015
environment:
  PATH: $(APPDATA)\npm;C:\Python27;$(PATH)
  GCLOUD_SDK_INSTALLATION_NO_PROMPT: true
  CLOUDSDK_PYTHON: C:\Python27\python.exe

install:
  - ps: Install-Module "GoogleCloud"
  - ps: Import-Module "GoogleCloud"
  - ps: Install-Product node 6.9.1
  - npm install typescript -global
  - npm install ts-node -global
  - npm install tfx-cli -global
  - npm install mocha -global
  - npm install mocha-appveyor-reporter -global
  - npm install nyc -global
  - choco install codecov
  - nuget install secure-file -ExcludeVersion
  - secure-file\tools\secure-file -decrypt "kubectl-build-task\test\resources\Cloud Tools for TFS Testing.json.enc" -secret %SERVICE_ACCOUNT_SECRET%
  - ps: Import-Module .\build\BuildFunctions.psm1
  - ps: Update-AppveyorBuildVersion
  - ps: $allTsTasks = Get-TypeScriptTasks

before_build:
  - ps: Initialize-All $allTsTasks

before_package:
  - ps: Merge-ExtensionPackage $allTsTasks

test_script:
  - ps: Invoke-AllMochaTests $allTsTasks "mocha-appveyor-reporter" -throwOnError

after_test:
  - ps: Send-Coverage

artifacts:
  - path: ./bin/*.vsix
    name: ExtensionPackage
